name: Builder
on: [push]

jobs:
  
  Android:
    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v2
      
   # - name: Update packages
      #run: sudo apt-get update
   # - name: Install luajit
     # run: sudo apt-get install luajit
   # - name: Clone love2d-android
    #  run: git clone --recurse-submodules https://github.com/love2d/love-android
    
    # Keep these updated
    - name: Get and unpack NDK
      run: |
        wget https://dl.google.com/android/repository/android-ndk-r21d-linux-x86_64.zip
        unzip -o android-ndk-r21d-linux-x86_64.zip
      
    - name: Get and unpack SDK
      run: |
        wget https://dl.google.com/android/repository/commandlinetools-linux-6858069_latest.zip
        unzip commandlinetools-linux-6858069_latest.zip
    
    
  #  - name: Unpack 
    
    - name: Tests
      run: |
        ls
        echo "[[[ INSIDE android-ndk-r21d ]]]"
        cd android-ndk-r21d
        ls
        cd ..
        echo "[[[ INSIDE cmdline-tools ]]]"
        cd cmdline-tools
        ls